

html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  :root{
    --login-bg: #cccccc;
    --titulo-bg: #586A83;
    --btn-inicio: #063970;
    --light-red: #c93513;
    --img-bg:#75a2d4;
    --verde:#007500;
    
}

  body{
    font-family:'Lato', sans-serif;
  }

  .site-header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-top: 10px;
  }
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}
/************************************************************************************** BARRA MENU ********************************************************/


.container__menu{
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--btn-inicio);

}

.menu{
  height: 100%;
  width: 50%;
  text-align: center;
  align-items: center;

}



nav{
 align-items: center;
}

nav > ul {
  height: 100%;
  display: flex;
}

nav  ul  li{
  height: 100%;
  list-style: none;
  position: relative;
}

nav > ul > li:first-child > a{
  background-image: url(../img/casa.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px 40px;
}

nav > ul > li:first-child:hover > a{
  background-image: url(../img/casa.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}


nav > ul > li > a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 300ms ease;

}

nav > ul > li > a:hover{
  transform: scale(1.1);
  background-color: var(--img-bg);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

}

#selected{
  transform: scale(1.1);
  background-color: var(--img-bg);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/******************************************************************************* SUBMENU **********************************************************/

nav ul li ul{
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  position:absolute;
  top:90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  z-index: 10;

  
}

nav ul li:hover ul{
  visibility: visible;
  opacity:1;
  top: 70px;
  transition: all 300ms ease;
}

nav ul li ul::before{
  content: '';
  width: 0;
  height:0;
  border-left: 12px solid transparent;
  border-right: 12 solid transparent;
  border-bottom: 12p solid #FFFFFF;
  top: -12px;
  left: 20px
}
nav a{
  text-decoration: none;
}

nav ul li ul li a{
  font-family:'Lato', sans-serif;
  display: block;
  color: var(--img-bg);
  padding: 6px;
  padding-left: 14px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
}

nav ul li ul li a:hover{
  background: var(--img-bg);
  color: #FFFFFF;
  transform: scale(1.1);
  padding-left: 30px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  
}

/****************************************************************** Elementos Responsivos *************************************************************/

.icon__menu{
  font-size: 26px;
  color:#FFFFFF;
  width: 26px;
  height: 100%;
  display: none;
  align-items: center;
}
#label__check{
  width: 26px;
  height: 100%;
  display: none;
}

#check__menu{
  display: none;
}

.fondo{
  height: 35vh;
  font-family:'Lato', sans-serif;
  background:var(--btn-inicio);
}

.letras{
  font-family:'Lato', sans-serif;
  font-weight: 900;
  color: #FFFFFF;
  font-style: italic;

}

.boton-color{
  background-color: var(--img-bg);
}

.texto{
  font-family:'Lato', sans-serif;
  margin-left: 10px;
  text-align: center;
  font-weight: 900;
  font-style: italic;
}

footer{
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: var(--btn-inicio);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family:'Lato', sans-serif;
  flex-direction: column;
}

.logo{
  height: 5px;
  margin-bottom: 1rem;
}

.social-icons-container, .footer-menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.social-icon{
  height: 80px;
  width: 80px;
  border-radius: 50px;
  color: #FFFFFF;
  background-image: url(../img/iconos/facebook.png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  margin: 1rem;

}

.social-icon:hover{
  background-color: var(--img-bg);
}

.social-icon:nth-of-type(2){
  background-image: url(../img/iconos/instagram.png);

}


.social-icon:nth-of-type(3){
  background-image: url(../img/iconos/Twitter.png);

}

.footer-menu-container a{
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
}


.footer-menu-container a:hover{
  background: var(--img-bg);
  color: #FFFFFF;
  transform: scale(1.1);
  padding-left: 30px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  
}

.footer-menu-container{
  list-style-type: none;
  color: #FFFFFF;
  font-size: 18px;
}

.menu-item{
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}

.copyright{
  color: #FFFFFF;
  opacity: 0.3;
  text-align: center;
}
¨

/****************************************************************** ESTILO GESTIÓN DE CITAS ********************************************************/




.detalles{
  text-align: left;
  border-radius: 2px;
  margin:0;
}

.detalles ul{
  border: 3px solid black;  
  background-color:var(--img-bg);
  margin: 0;
  padding-bottom: 20px;
}



.detalles li{
  list-style: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 1px;
  font-style:oblique;

}

.texto-derecha{
  font-family:'Lato', sans-serif;
  font-size: 25px!important;
  text-align: right;
  
}

.Izquierda{
  text-align: left;
}






/*************************************************** ESTILO SOLICITUD **********************************************************************/

.soli-container{
  height: 20em;
  width: 50em;
  bottom: 10px;
  margin: 6em auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 10px;
}

.soli-info-container{
  width: 50%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 0.5rem;
  background-color: var(--login-bg);
  border-radius: 10px;
}


.icono-placeholder-image::placeholder{
  background-image: url(../img/icono.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: left;
}

.inputs-container{
  height: 55%;
  width: 85%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


}

input[type="text"], input[type="password"],.btn-soli{
  width: 90%;
  margin-top: 1rem;
  height: 3.125rem;
  font-size: 1rem;
}

input[type="text"], input[type="password"]{
  margin-top: 1rem;
  padding-left:20px ;
  border: none;
  text-align:center;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  box-sizing: border-box;
}

input:hover{
  border: 2px solid var(--btn-inicio);
}




.texto-login {
  margin-top: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;    
}


.btn-soli{
  width: 80%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#FFFFFF;
  margin-top: 2rem;
  border-radius: 5px;
  border:none;
  background-color: var(--btn-inicio);
  cursor: pointer;
}



.btn-soli:hover{
  border: 2px solid var(--img-bg);
  cursor: pointer;
}

.btn-cancelar{
  width: 80%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#FFFFFF;
  border-radius: 5px;
  background-color: var(--light-red);
  cursor: pointer;
}

.btn-crear{
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#FFFFFF;
  margin-bottom: 0.50rem;
  margin-top: 0.50rem;
  border-radius: 5px;
  border:none;
  background-color:var(--verde);
  cursor: pointer;
}

.btn-crear:hover{
  border: 2px solid #007500e8;
  cursor: pointer;
  color: #FFFFFF;
  background-color: var(--verde);
}




.btn-buscar{
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#FFFFFF;
  margin-bottom:0.50rem;
  margin-top: 0.50rem;
  border-radius: 5px;
  border:none;
  background-color:#c93513;
  cursor: pointer;
}


.btn-buscar:hover{
  border: 2px solid #c93513;
  cursor: pointer;
  color: #FFFFFF;
  background-color:rgba(255, 0, 0, 0.801);
}

.lista{
  height: 500px;
  margin:0 auto;
  width: 100%;
  position: relative;
  bottom: -50px;
  border-radius: 10px;
  overflow: scroll ;
  background-color: var(--btn-inicio);
}


.cabecera{
  font-family:'Lato', sans-serif;
  margin-left: 10px;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  font-style: italic;
  color:#FFFFFF;
  
}


/******************************************************************** Quimio *********************************************************************/


.icono-placeholder-image-fila::placeholder{
  background-image: url(../img/iconos/fila-india.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: left;
}

/******************************************************** Sitio del Administrador **********************************************************/



.btn-editar{
  width: 100%;
  height: 50%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#FFFFFF;
  margin-bottom: 0.50rem;
  margin-top: 0.50rem;
  border-radius: 5px;
  border:none;
  background-color:var(--verde);
  cursor: pointer;
}

.btn-editar:hover{
  background-color: var(--verde);
  border: 2px solid #00d100ae;
  cursor: pointer;
}


.btn-eliminar{
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#FFFFFF;
  margin-bottom: 0.50rem;
  margin-top: 0.50rem;
  border-radius: 5px;
  border:none;
  background-color:var(--light-red);
  cursor: pointer;

}


.btn-eliminar:hover{
  background-color:rgba(255, 0, 0, 0.801);
  border: 2px solid #c93513;
  cursor: pointer;
}



/**************************************************** Gestión de Citas *****************************************************************************/

.icono-lupa-placeholder-image::placeholder{
  background-image: url(../img/iconos/lupa.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: left;
}

.icono-telefono-placeholder-image::placeholder{
  background-image: url(../img/iconos/llamada-entrante.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: left;

}


.contenedor-tabla{
  margin: 150px auto;
  height: 500px;
  width: 1200px;
  
}

.subtitulo{
  border-radius: 5px;
  background-color:var(--btn-inicio); 
  height: 80px;
  color: white;
  text-align: center;
  font-family:'Lato', sans-serif;
  margin-left: 10px;
  font-weight: 900;
  font-size: 60px;
  font-style: italic;
}

.centrear{
  text-align: center;
}

.tbl-fixed{
  overflow-x: scroll;
  overflow-y: scroll;
  height: fit-content;
  max-height: 100vh;
  margin-top: 40px;
}


table{
  background-color:#FFFFFF;
  text-align: center;
  border-collapse: separate;
  width: 100%;
}


table th {
  position: sticky;
  top:0px;
  border: 1px solid #ccc;
  font-size: 20px;

}
table td{
  font-family:'Lato', sans-serif;
  margin-left: 10px;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  font-style: italic;

}
th, td{
  padding: 15px;
  border: 1px solid black;
}

thead{
  background-color:var(--btn-inicio);
  color: white;
  border-bottom:solid 5px var(--titulo-bg);
}


tr:hover td{
  background-color:var(--login-bg);
}




.buscar-info-container{
  width: 100%;
  background-color: var(--login-bg);
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
}


.modal-header{
  font-size: 20px;
  font-weight:600;
  background-color: var(--btn-inicio);
  color: white;
}

.btn-cerrar{
  background-color:red;
  color: white;

}

.modal-body{
  width: 100%;
  border-radius: 4px;
  background-color: var(--login-bg);
}


.seleccion{
width: 90%;
margin-top: 1rem;
height: 3.125rem;
font-size: 1rem;
padding-left: 20px;
border: none;
text-align: center;
border-radius: 5px;
font-weight: 600;
letter-spacing: 1px;
box-sizing:border-box;
}

.seleccion:hover{
  border: 2px solid var(--btn-inicio);
}

.modal-footer{
  background-color:var(--login-bg);
}

.pie-pagina{
  background-color: #FFFFFF;
}

.icono-edad::placeholder{
  background-image: url(../img/iconos/edad.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position:left;
  }
.icono-email::placeholder{
  background-image: url(../img/iconos/email.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position:left;
}

.icono-cedula::placeholder{
  background-image: url(../img/iconos/cedula.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position:left;
}

.semaforo{
  width: 100%;
}

.nombreEstado{
  margin: 15% 0;
  width: 90%; 
}

.colorEstado{
  margin: 0 5%;
  padding: 6%;
  width: 10%;
  border: 1.5px solid black;
}

/************************************************************************ Diseño Responsive ********************************************************/

@media screen and (max-width: 720px) {
 

  .buscar-info-container{
    width: 100%;
    flex-direction: row;
    text-align: center;
    align-items:center;
    margin: 0 auto;

  }

  .subtitulo{
    font-size: 45px;
  }
  

  .btn-crear{
    width: 100%;
    text-align: center;
    
    margin-left: 10px;
  }
  .btn-eliminar{
    width: 100%;
    text-align: center;
  }

  .btn-buscar{
    width: 100%;
    text-align:center;
    margin-left: 10px;
  }

  .btn-editar{
    width:100%;
    text-align: center;
  
    
  }

  .subtitulo{
    text-align: center;
    width: 100%;
  }
  table{
    width: 100%;
    font-size: 0.9rem;
  }

  .contenedor-tabla{
    width: 100%;
  }
  table tr{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 1em;
    margin-bottom: 1em;
  }

  table td[data-titulo]{
    display: flex;
  }

  table td[data-titulo]::before{
    content: attr(data-titulo);
    width: 90px;
    color:black;
    font-weight:600;    
  }

  .semaforo{
    margin: 0 0 0 10px !important;
    width: 97.5%;
  }
  
  .nombreEstado{
    margin: 0%;
    width: 90%; 
  }
  
  .colorEstado{
    padding: 4%;
    width: 6%;
    border: 1.5px solid black;
  }


  table thead{
    display: none;
  }
  

   .cartas{
    margin-top: 50px;
   }
   .lista{
    width: 100%;
    overflow: scroll;
   }

   .soli-container{
    width: 100%;
    height: 50%;
}  

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
}


.soli-info-container{
  width: 100%;
}

.footer-menu-container{
  text-align: center;
  align-items: center;
  justify-content: center;
}
  

.contenido{
  display:flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
}



.btn-soli{
    margin-top: 1rem; 
 }

 .inputs-container{
    margin-top:  1rem;
    margin-bottom: 1rem;
  }
   .fondo{
    height: 10%;
    margin-top: 50px;
   }
  .logo img{
      width: 200px;
   }

   nav > ul{
   flex-direction:column;
   background-color: var(--btn-inicio);
   position: fixed;
   left: 0;
   top:158px;
   width: 100%;
   height: 0px;
   transition: all 300ms ease;
   z-index: 100;
   opacity:0;
   visibility: hidden;
   }

   nav > ul > li > a:hover{
    background: var(--img-bg);
    color: #FFFFFF;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
   }

   nav ul li ul{
      left:90px;
  
   }
  
   nav > ul > li:hover ul{
      top: 50px;
   }

   nav > ul > li:first-child a{
      background-position: 20px;
   }

   #selected{
      transform: scale(1);
   }

   #label__check{
      text-align: center;
   }

 
   .icon__menu{
      display: flex;
      align-items: center;
      text-align: center;
  
   }

   #check__menu:checked ~ nav > ul{
      height: 300px;
      visibility: visible;
      opacity: 1;
   }
}






